:root {
  --bg-color: #f5f5f5;
  --card-bg: #fff;
  --text-color: #222;
  --input-bg: #fff;
  --input-text: #222;
  --google-bg: #fff;
  --google-text: #000;
}

body.dark-theme {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #fff;
  --input-bg: #2c2c2c;
  --input-text: #fff;
  --google-bg: #fff;
  --google-text: #000;
}

body.light-theme {
  --bg-color: #f5f5f5;
  --card-bg: #fff;
  --text-color: #222;
  --input-bg: #fff;
  --input-text: #222;
  --google-bg: #fff;
  --google-text: #000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

input, textarea {
  background-color: var(--input-bg);
  color: var(--input-text);
  transition: background 0.3s, color 0.3s;
}
